.page_top_next{
    height: 175Px;
    width: 100%;
    background-image: url("../../../static/images/ptn_bg.png");
    background-size: 100% 100%;
    z-index: 1;
    align-items: flex-start;
}

.ptn_left{
    width: 60%;
    flex-direction: column;
    color: #fff;
    align-items: baseline;
}

.second_title{
    display: flex;
    width: auto;
    height: 48Px;
    justify-content: flex-start;
    align-items: center;
    font-size: 21Px;
    padding: 0 0 0 6.5%;
    margin-top: 15Px;
    white-space: nowrap;
}

.data_date{
    width: auto;
    height: 20Px;
    justify-content: flex-start;
    align-items: center;
    font-size: 12Px;
    font-weight: bold;
    padding: 0 0 0 6.5%;
    white-space: nowrap;
}

.data_date .sjsmIcon{
    display: inline-block !important;
    width: 14Px;
    height: 14Px;
    line-height: 14Px;
    text-align: center;
    border: 1Px solid #ccc;
    border-radius: 14Px;
    background-color: #4B81FE;
    color: #fff;
    margin-left: 5Px;
}

.ptn_right{
    width: 40%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.ptn_right_1{
    width: 70%;
    height: 32Px;
    flex-direction: row;
    background-color: #fff;
    border-top-left-radius: 25Px;
    border-bottom-left-radius: 25Px;
    color: #4384FE;
    margin: 75Px 0 0 30%;
    font-weight: bold;
}

.ptn_right_1 .ptn_right_left{
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.ptn_right_1 .ptn_right_left .circle{
    width: 15Px;
    height: 15Px;
    border: 1Px solid red;
    border-radius: 15Px;
    justify-content: center;
    align-items: center;
}

.ptn_right_1 .data_explain{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 14Px;
}

.ptn_right_1 .data_explain .arrow{
    display: inline-block !important;
    width: 20Px;
    height: 20Px;
    border-radius: 20Px;
    background-color: #4384FE;
    color: #fff;
    margin-left: 5Px;
}

.ptn_right_1 .data_explain .arrow::after{
    content: ">";
    width: 22Px;
    height: 20Px;
    text-align: center;
    display: block;
    position: relative;
    color: #fff;
    font-size: 20Px;
    line-height: 17Px;
}