.fx33{
    flex: 1 1 33%;
}

.fx67{
    flex: 1 1 60%;
}

.pd20{
    padding-bottom: 20Px;
}

.mb20{
    margin-bottom: 20Px;
}

.mt10{
    margin-top: 10Px;
}

.mtb10{
    margin-top: 10Px;
    margin-bottom: 10Px;
}

.lh32{
    line-height: 32Px;
}

.fs15{
    font-size: 15Px;
}

.wsnw{
    white-space: nowrap;
}