.explain_outer_kuang{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ccc;
    opacity: 0.5;
}

.explain_kuang{
    display: flex;
    width: 98%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5Px;
    position: fixed;
    top: 5%;
    left: 1%;
    z-index: 11;
}

.explain_title{
    display: flex;
    height: 35Px;
    width: 80%;
    color: #2C4CDF;
    justify-content: flex-start;
    align-items: center;
    padding: 10Px 0 0 10Px;
    font-size: 20Px;
    position: absolute;
    top: 0;
    left: 10Px;
}

.explain_close{
    display: flex;
    height: 20Px;
    width: 20Px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 35Px;
    color: red;
    margin: 15Px 0 0 7%;
    position: absolute;
    top: 0;
    right: 15Px;
}

.explain_word{
    display: flex;
    width: calc(100% - 10Px);
    padding: 0 0 0 10Px;
    height: 25Px;
    line-height: 25Px;
    justify-content: flex-start;
    align-items: center;
    font-size: 10Px;
    white-space: nowrap;
}

.explain_word_title{
    font-weight: bold;
    font-size: 15Px;
}

.explain_kuang_scroll{
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50Px;
}

.explain_kuang_scroll_body{
    position: absolute;
    top:0;
    width: 100%;
    height: 1200Px;
    flex-direction: column;
    justify-content: flex-start;
}