.yy_view{
    height: 80Px;
}

.today_total_kuang{
    width: 100%;
    height: auto;
    flex-direction: column;
}

.mb10{
    margin-bottom: 20Px;
}

.fx40{
    flex: 1 1 33%;
}

.fx60{
    flex: 1 1 64%;
}

.fx50{
    flex: 1 1 50%;
}

.mgl10{
    margin-left: 3%;
}

.fs20{
    font-size: 20Px;
}

.mt10{
    margin-top: 10Px;
}